/* Write your CSS here */

.repository-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #f8f8ff;
  border-radius: 8px;
  padding: 20px;
}

.repository-image {
  height: 30px;
  width: 30px;
}

.repository-name {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-img {
  height: 10px;
  width: 10px;
}
.count {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 600;
}
