/* Write your CSS here */
/* Write your CSS here */

.repository-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #f8f8ff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.repository-image {
  height: 70px;
  width: 70px;
  align-self: center;
}

.repository-name {
  color: #e73959;
  font-family: 'Roboto';
  align-self: center;
  font-size: 18px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.icon-img {
  height: 15px;
  width: 15px;
  margin: 0px;
  margin-bottom: 15px;
}
.count {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  padding-left: 15px;
  margin: 0px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .repository-item {
    width: 180px;
    height: 250px;
    margin-right: 20px;
    border-radius: 12px;
  }
  .container {
    padding-left: 20px;
  }
}
