/* Write your CSS here */
/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 30px;
  padding-right: 60px;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.filters-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.repositories-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-image {
  height: 100px;
  width: 130px;
}
.failure-para {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 50%;
    background-color: black;
  }
  .filters-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .repositories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
