/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-height: 100vh;
}

.heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 30px;
  font-weight: bold;
}

.filters-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.repositories-list {
  display: flex;
  flex-direction: column;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failure-image {
  height: 100px;
  width: 130px;
}
.failure-para {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}
