
/* Write your CSS here */

.language-btn {
  background-color: transparent;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
}
.active-btn {
  background-color: transparent;
  border: 1px solid #0284c7;
  cursor: pointer;
  color: #0284c7;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}
